.line-plot {
    &__axis path,
    &__axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    &__line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
}

.bar-chart {
	&__bar {
  		fill: steelblue;
	}

	&__bar:hover {
  		fill: brown;
	}

	&__axis {
  		font: 10px sans-serif;
	}

	&__axis path,
	&__axis line {
  		fill: none;
  		stroke: #000;
  		shape-rendering: crispEdges;
	}

	&__x.axis path {
  		display: none;
	}
}

.scatter-plot {
}

.heat-map {
	&__rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

	&__text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

    &__text.axis-workweek {
        fill: #000;
      }

    &__text.axis-worktime {
        fill: #000;
      }
}

.data-table {
}
