html {
    font-size: 87.5%;
}

body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    @include inuit-font-size(14px);
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, table, form {
    margin: 0 0 $inuit-base-spacing-unit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;

    &:not(:first-child) {
        margin-top: $inuit-base-spacing-unit;
    }
}

a {
    color: $primary-action-color;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

:disabled {
    opacity: 0.5;
}

fieldset {
    @extend %box;
    padding-top: halve($inuit-base-spacing-unit) !important;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

legend {
    background-color: #fff;
    padding: 0 halve($inuit-base-spacing-unit);
    margin-left: halve(-$inuit-base-spacing-unit);
}

label:after {
    content: ":";
}

input {
    height: 2 * $inuit-base-spacing-unit;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    vertical-align: baseline;
    padding: 0 halve($inuit-base-spacing-unit);

    &[type="file"] {
        height: auto;
        padding: halve($inuit-base-spacing-unit);
    }
}

select {
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    vertical-align: baseline;

    @-moz-document url-prefix() {
        padding: halve($inuit-base-spacing-unit) quarter($inuit-base-spacing-unit);
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        height: 2 * $inuit-base-spacing-unit;
    }
}

button {
    @extend %btn;
    vertical-align: baseline !important;

    &:disabled:hover {
        background-color: $inuit-btn-background;
    }
}

table {
    border: 1px solid #ddd;
}

thead {
    background-color: #f4f4f4;
}

td, th {
    padding: halve($inuit-base-spacing-unit);
    text-align: left;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: $inuit-base-spacing-unit;
    overflow-x: scroll;
}

pre {
    @include inuit-font-size(14px);
}
