.panel,
%panel {
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

.animated,
%animated {
    &.ng-animate {
        -webkit-transition: 0.1s ease-out all;
        transition: 0.1s ease-out all;
    }
    &.ng-enter, &.ng-leave.ng-leave-active { opacity: 0; }
    &.ng-leave, &.ng-enter.ng-enter-active { opacity: 1; }

    &--slow-out.ng-leave {
        -webkit-transition: 1s ease-out all;
        transition: 1s ease-out all;
    }
}

.alert,
%alert {
    @extend %box;
    @extend %box--small;
    @extend %panel;
    @extend %animated;

    &--success {
        background-color: #43AC6A;
        border-color: #3A945B;
        color: #FFF;
    }

    &--error {
        background-color: #F08A24;
        border-color: #DE770F;
        color: #FFF;
    }
}

modal {
    .modal__backdrop {
        min-width: 960px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        z-index: 100;
        overflow: scroll;
        text-align: center;

        .modal__dialog {
            @extend %box;
            text-align: left;
            display: inline-block;
            margin: 100px 0;
            background-color: #fff;
            box-shadow: 0 0 11px rgba(0,0,0,0.5);
        }
    }
}

.form--aligned,
%form--aligned {
    label {
        @extend %label--inline;
        margin-right: halve($inuit-base-spacing-unit);
        width: 8 * $inuit-base-spacing-unit;
        text-align: right;
    }

    input {
        @extend %input--inline;
        width: 16 * $inuit-base-spacing-unit;
    }

    .help {
        display: inline-block;
        margin-left: halve($inuit-base-spacing-unit);
    }

    br ~ * {
        margin-top: halve($inuit-base-spacing-unit);
    }

    .form__group > :not(label):first-child,
    br + :not(label) {
        margin-left: 8.5 * $inuit-base-spacing-unit;
    }
}

.form--stacked,
%form--stacked {
    label {
        @extend %label--block;
    }

    input {
        @extend %input--block;
    }

    select {
        @extend %select--block;
    }

    .help {
        display: block;
        width: 100%;
        line-height: 1.5 * $inuit-base-spacing-unit;
    }

    .form__group > br {
        display: none;
    }

    :not(label) + input,
    :not(label) + select {
        margin-top: halve($inuit-base-spacing-unit);
    }
}

.form__group,
%form__group {
    margin: 0 0 $inuit-base-spacing-unit;
}

.label--block,
%label--block {
    display: block;
    width: 100%;
    line-height: 1.5 * $inuit-base-spacing-unit;
}

.label--inline,
%label--inline {
    display: inline-block;
    line-height: 2 * $inuit-base-spacing-unit;
}

.input--block,
%input--block {
    display: block;
    width: 100%;
}

.input--inline,
%input--inline,
.select--inline,
%select--inline {
    display: inline-block;
}

.input--block,
%input--block,
.select--block,
%select--block {
    display: block;
    width: 100%;
}

.help,
%help {
    @extend %animated;
    @include inuit-font-size(12px);

    &--error {
        color: $error-color;
    }
}

sensor-container {
    @extend %box;
    border: 1px solid #ddd;
    margin-bottom: 20px;

    h1 {
        @include inuit-font-size(16px);
    }

    dt {
        font-weight: bold;
    }
}
