<h4>{{timestampFile.file}}</h4>
<div ng-if="!modal.confirm">
    <table class="table--file-preview">
        <thead>
            <tr>
                <th colspan="{{timestampFile.cols.length}}">Select columns that comprise timestamp:</th>
            <tr>
                <th ng-repeat="col in timestampFile.cols">
                    <input type="checkbox" ng-model="modal.columns[$index]">
                </th>
            </tr>
            <tr ng-if="timestampFile.head.header.length">
                <th ng-repeat="header in timestampFile.head.header"><label for="{{$index}}">{{header}}</label></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in timestampFile.head.rows">
                <td ng-repeat="col in row track by $index">{{col}}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click="preview()">Continue</button> <button ng-click="closeTimestampModal()">Cancel</button>
</div>
<div ng-if="modal.confirm">
    <h5>Timestamps</h5>
    <table>
        <thead>
            <tr>
                <th>Raw</th>
                <th>Parsed</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in modal.timestamps | limitTo:5">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
        </tbody>
    </table>
    <p>Are the parsed timestamps correct?</p>
    <button ng-click="save()">Yes, save configuration</button> <button ng-click="modal.confirm = false">No, re-select columns</button>
</div>
