<h4>New sensor map</h4>
<form ng-submit="addChild()">
    <button >Add</button>&nbsp;
    <select class="select--inline" required ng-model="newChild.level">
        <option value="">-- Choose object --</option>
        <option value="site">site</option>
        <option value="building">building</option>
    </select>
    &nbsp;
    <input class="input--inline" required placeholder="{{newChild.level | capitalize}} name" ng-if="newChild.level" ng-model="newChild.name">
    &nbsp;to sensor map
</form>

<sensor-container ng-repeat="container in newSensorMap.map.sensors" container="container" index="$index" files="dataFiles" delete="deleteContainer(index)"></sensor-container>

<form ng-submit="save()">
    <label class="label--inline">Sensor map name</label>&nbsp;
    <input class="input--inline" required ng-model="newSensorMap.name">
    &nbsp;<button ng-disabled="!newSensorMap.valid">Save</button>
    <button ng-click="closeNewSensorMapModal()">Cancel</button>
    <small class="help help--error" ng-if="!newSensorMap.valid">Add at least one object and sensor to save</small>
</form>
