<h4>Configure timestamp: {{timestampFile.name}}</h4>
<form ng-if="!modal.confirm" ng-submit="preview()">
    <table class="table--file-preview">
        <thead>
            <tr>
                <th colspan="{{timestampFile.cols.length}}">Select columns that comprise timestamp:</th>
            <tr>
                <th ng-repeat="col in timestampFile.cols">
                    <input type="checkbox" ng-model="modal.columns[$index]">
                </th>
            </tr>
            <tr ng-if="timestampFile.head.header.length">
                <th ng-repeat="header in timestampFile.head.header"><label for="{{$index}}">{{header}}</label></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in timestampFile.head.rows">
                <td ng-repeat="col in row track by $index">{{col}}</td>
            </tr>
        </tbody>
    </table>
    <div class="form__group">
        <label class="label--inline">Apply offset to timestamps</label>&nbsp;
        <input type="number" step="0.000001" required ng-model="modal.timeOffset">&nbsp;seconds
    </div>
    <div class="form__group">
        <label class="label--inline">If unable to determine time zone, use</label>&nbsp;
        <select class="select--inline" required ng-options="timeZone for timeZone in timeZones" ng-model="modal.timeZone">
        </select>
    </div>
    <button>Continue</button> <button type="button" ng-click="Modals.closeModal('configureTimestamp')">Cancel</button>
</form>
<div ng-if="modal.confirm">
    <table>
        <thead>
            <tr>
                <th>Raw</th>
                <th>Parsed</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in modal.timestamps | limitTo:5">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
            </tr>
        </tbody>
    </table>
    <p>Are the parsed timestamps correct?</p>
    <button ng-click="save()">Yes, save configuration</button> <button ng-click="modal.confirm = false">No, re-select columns</button> <button ng-click="Modals.closeModal('configureTimestamp')">Cancel</button>
</div>
