<div class="container">
    <ul class="breadcrumbs">
        <li><a href="projects">Projects</a></li>
        <li><a href="projects/{{project.id}}">{{project.name}}</a></li>
        <li>Manipulate data set: {{dataSet.name}}</li>
    </ul>

    <form class="view view--data-set-manipulate" ng-submit="apply()">
        <h2>Manipulate data set: {{dataSet.name}}</h2>
        <div ng-show="!applying">
            <div>
                <h3>Normalization settings</h3>

                <div class="form__group">
                    <label>Perform</label>&nbsp;
                    <input type="checkbox" id="perform-fill" ng-model="globalSettings.performFill">&nbsp;
                    <label for="fill">Fill</label>&nbsp;
                    <input type="checkbox" id="perform-aggregation" ng-model="globalSettings.performAggregation">&nbsp;
                    <label for="perform-aggregation">Aggregation</label>
                </div>

                <div class="form__group">
                    <label>Fill/aggregation time period</label>&nbsp;
                    <input type="number" step="1" min="1" required
                        ng-model="globalSettings.periodSeconds">
                    second<span ng-if="globalSettings.periodSeconds > 1">s</span>
                </div>

                <div class="form__group" ng-if="globalSettings.performFill">
                    <label>On fill</label>&nbsp;
                    <input type="checkbox" id="drop-values" ng-model="globalSettings.dropExtra">&nbsp;
                    <label for="drop-values">Drop values that do not line up exactly with specified period</label>
                </div>

                <div class="form__group" ng-if="globalSettings.performAggregation">
                    <label>On aggregation</label>&nbsp;
                    <input type="radio" id="round-time" ng-model="globalSettings.roundTime" ng-value="true">&nbsp;
                    <label for="round-time">Round time to nearest period</label>&nbsp;
                    <input type="radio" id="truncate-time" ng-model="globalSettings.roundTime" ng-value="false">&nbsp;
                    <label for="truncate-time">Truncate time to period</label>
                </div>
            </div>

            <h3>Sensors</h3>

            <div class="topic" ng-repeat="(topic, sensor) in dataSet.datamap.sensors" ng-if="sensor.type"
                ng-init="initTopicFilters(topic, sensor)">
                <h4>{{topic}}</h4>

                <div class="layout">
                    <div class="layout__item">
                        <fieldset>
                            <legend>Normalization filters</legend>

                            <div class="form__group" ng-if="globalSettings.performFill">
                                <label>Fill</label>&nbsp;
                                <select ng-options="filter.id as filter.name for filter in availableFilters | filter:{type: 'fill'} | orderBy:'name'"
                                    ng-model="topicFilters[topic].fill">
                                    <option value="">None</option>
                                    </select>
                            </div>
                            <div class="form__group" ng-if="globalSettings.performAggregation">
                                <label>Aggregation</label>&nbsp;
                                <select required ng-options="filter.id as filter.name for filter in availableFilters | filter:{type: 'aggregation'} | orderBy:'name'"
                                    ng-model="topicFilters[topic].aggregation">
                                    <option value="">-- Choose filter --</option></select>
                            </div>
                        </fieldset>
                    </div><!--
                 --><div class="layout__item">
                        <fieldset>
                            <legend>Other filters</legend>

                            <ol>
                                <li ng-repeat="filter in topicFilters[topic].other">
                                    {{filter | json}}
                                    &mdash; <a ng-click="deleteFilter(filter)">Delete</a>
                                    <span ng-if="!$first">&mdash; <a ng-click="raiseFilter(filter)">Up</a></span>
                                    <span ng-if="!$last">&mdash; <a ng-click="lowerFilter(filter)">Down</a></span>
                                </li>
                            </ol>

                            <p><a ng-click="addFilterTo(topic)">Add filter to {{topic}}&hellip;</a></p>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button>Apply</button> <a class="button" href="projects/{{project.id}}">Cancel</a>
        </div>
        <div ng-show="applying">
            <span class="spinner fa fa-circle-o-notch"></span> Applying filters&hellip;
        </div>
    </form>
</div>
<modal modal-id="newFilter">
    <h3>Add filter</h3>
    <form class="form--stacked" ng-submit="saveNewFilter()">
        <div class="form__group">
            <label>Sensor</label>
            <div>{{newFilter.topic}}</div>
        </div>
        <div class="form__group">
            <label>Filter</label>
            <select required
                ng-options="filter as filter.name for filter in availableFilters | filter:{type: 'other'} | orderBy:'name'"
                ng-model="newFilter.filter">
                <option value="">-- Choose filter --</option>
            <select>
        </div>
        <div class="form__group"
            ng-if="newFilter.filter"
            ng-init="newFilter.parameters[paramName] = param.value_default"
            ng-repeat="(paramName, param) in newFilter.filter.parameters">
            <label>{{param.display_name}}</label>
            <input type="checkbox"
                ng-if="param.config_type === 'bool'"
                ng-model="newFilter.parameters[paramName]">
            <input value="{{param.value_default}}"
                type="number"
                step="1"
                ng-if="param.config_type === 'int' && !param.value_list"
                min="{{param.value_min}}"
                max="{{param.value_max}}"
                ng-required="!param.optional"
                ng-model="newFilter.parameters[paramName]">
                <small class="help" ng-if="param.description" ng-bind-html="param.description | nl2br"></small>
        </div>
        <button>Add</button> <button type="button" ng-click="Modals.closeModal('newFilter')">Cancel</button>
    </form>
</modal>
