<div class="container">
    <ul class="breadcrumbs">
        <li><a href="projects">Projects</a></li>
        <li><a href="projects/{{project.id}}">{{project.name}}</a></li>
        <li>New data map</li>
    </ul>

    <div class="view view--new-data-map">
        <h2>New data map</h2>

        <div class="form__group">
            Add to data map:<span ng-repeat="child in ['site', 'building', 'other']">&nbsp;<button ng-click="addChild(child)">{{child}}</button></span>
        </div>

        <sensor-container ng-repeat="container in newDataMap.map.sensors" container="container" files="dataFiles"></sensor-container>

        <form ng-submit="save()">
            <label class="label--inline">Data map name</label>&nbsp;
            <input class="input--inline" required ng-model="newDataMap.name">
            &nbsp;<button type="button" ng-click="preview()" ng-disabled="!newDataMap.valid">Preview</button>
            &nbsp;<button ng-disabled="!newDataMap.valid">Save</button>
            &nbsp;<a class="button" href="projects/{{project.id}}">Cancel</a>
            <small class="help help--error" ng-if="!newDataMap.valid">Add at least one object and sensor to save</small>
        </form>
    </div>

    <modal modal-id="dataMapPreview">
        <table>
            <thead>
                <tr>
                    <th ng-repeat="column in dataMapPreview.cols">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in dataMapPreview.rows">
                    <td ng-repeat="value in row track by $index">
                        <span ng-if="!isObject(value)">{{value}}</span>
                        <span class="invalid-value" ng-if="isObject(value)" ng-click="showError(value)">Invalid</span>
                    </td>
                </tr>
                <tr ng-repeat-start="row in dataMapPreview.extra_rows">
                    <td class="table-gap" colspan="{{dataMapPreview.cols.length}}">&hellip;</td>
                </tr>
                <tr ng-repeat-end>
                    <td ng-repeat="value in row track by $index">
                        <span ng-if="!isObject(value)">{{value}}</span>
                        <span class="invalid-value" ng-if="isObject(value)" ng-click="showError(value)">Invalid</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-click="Modals.closeModal('dataMapPreview')">Close</button>
    </modal>
</div>
