<h4>New data set</h4>

<form ng-submit="save()">
    <div class="form__group">
        <h5>Select data map to use</h5>
        <select required ng-options="dataMap as dataMap.name for dataMap in dataMaps" ng-model="newDataSet.map">
            <option value="">-- Choose data map --</option>
        </select>
    </div>

    <div class="form__group" ng-if="newDataSet.map">
        <h5>Select files to use</h5>
        <dl>
            <dt ng-repeat-start="(key, file) in newDataSet.map.map.files">File "{{key}}":<dt>
            <dd ng-repeat-end>
                Signature: <pre>{{file.signature.headers}}</pre>
                <select required ng-options="file.id as file.name for file in dataFiles | hasSignature:file.signature" ng-model="newDataSet.files[key]">
                    <option value="">-- Choose file --</option>
                </select>
            </dd>
        </dl>
    </div>

    <button>Create</button> <button type="button" ng-click="Modals.closeModal('newDataSet')">Cancel</button>
</form>
