<h4>New analysis</h4>

<div ng-if="!newAnalysis.application">
    <div class="form__group">
        <label class="label--inline">Run analysis on</label>&nbsp;
        <select ng-options="dataSet as dataSet.name for dataSet in dataSets" ng-model="newAnalysis.dataSet">
            <option value="">-- Choose data set --</option>
        </select>
    </div>

    <table class="table--app-list" ng-if="newAnalysis.dataSet">
        <thead>
            <tr>
                <th>Application</th>
                <th>Configure</th>
                <th>Missing inputs</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in availableApps | orderBy:'name'">
                <td>{{app.name}}</td>
                <td><button ng-disabled="app.missingInputs" ng-click="newAnalysis.application = app">Configure</button></td>
                <td>
                    <p ng-if="app.description">{{app.description}}</p>
                    <ul class="missing-inputs" ng-if="app.missingInputs">
                        <li ng-repeat="missingInput in app.missingInputs">{{missingInput}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <button ng-click="Modals.closeModal('newAnalysis')">Cancel</button>
</div>

<form class="form--stacked" ng-if="newAnalysis.application" ng-submit="run()">
    <h5>Configure run of <em>{{newAnalysis.application.name}}</em> on data set <em>{{newAnalysis.dataSet.name}}</em></h5>
    <div class="form__group">
        <input type="checkbox" id="debug" ng-model="newAnalysis.debug">&nbsp;<label for="debug">Generate debug output</label>
    </div>
    <div class="layout">
        <div class="layout__item" style="width: 50%">
            <fieldset>
                <legend>Parameters</legend>
                <div class="form__group" ng-repeat="(paramName, param) in newAnalysis.application.parameters"
                    ng-init="setParamDefault(paramName)">
                    <label>{{param.display_name}}<span ng-if="param.optional">&nbsp;(optional)</span></label>
                    <select ng-if="param.value_list"
                            ng-required="!param.optional"
                            ng-model="newAnalysis.configuration.parameters[paramName]"
                            ng-options="value for value in param.value_list">
                            <option value="">-- Choose value --</option>
                    </select>
                    <input type="text"
                           ng-if="param.config_type === 'str' && !param.value_list"
                           ng-required="!param.optional"
                           ng-model="newAnalysis.configuration.parameters[paramName]">
                    <input type="number"
                           step="1"
                           ng-if="param.config_type === 'int' && !param.value_list"
                           min="{{param.value_min}}"
                           max="{{param.value_max}}"
                           ng-required="!param.optional"
                           ng-model="newAnalysis.configuration.parameters[paramName]">
                    <input type="number"
                           step="0.01"
                           ng-if="param.config_type === 'float' && !param.value_list"
                           min="{{param.value_min}}"
                           max="{{param.value_max}}"
                           ng-required="!param.optional"
                           ng-model="newAnalysis.configuration.parameters[paramName]">
                </div>
            </fieldset>
        </div>
        <div class="layout__item" style="width: 50%">
            <fieldset>
                <legend>Inputs</legend>
                <div class="form__group" ng-repeat="(inputName, input) in newAnalysis.application.inputs">
                    <label>{{input.display_name}} ({{input.sensor_type}})</label>
                    <div ng-repeat="multiInput in newAnalysis.configuration.inputs[inputName]" style="position: relative">
                        <select required
                                ng-options="topic.value as topic.display for topic in availableSensors[input.sensor_type]"
                                ng-model="newAnalysis.configuration.inputs[inputName][$index]">
                            <option value="">-- Choose sensor --</option>
                        </select>
                        <div class="app-input-delete"
                             ng-if="newAnalysis.configuration.inputs[inputName].length > input.count_min"
                             ng-click="deleteInputSensor(inputName, $index)">
                             &times;
                         </div>
                    </div>
                    <a ng-if="canAddSensor(inputName, input.sensor_type)" ng-click="addInputSensor(inputName)">+ Add sensor</a>
                </div>
            </fieldset>
        </div>
    </div>

    <button type="button" ng-click="newAnalysis.application = null">Back</button> <button>Run</button> <button type="button" ng-click="Modals.closeModal('newAnalysis')">Cancel</button>
</form>
