<div class="container">
    <ul class="breadcrumbs">
        <li><a href="projects">Projects</a></li>
        <li>{{project.name}}</li>
    </ul>

    <div class="view view--project">
        <h2>{{project.name}}</h2>
        <div class="data-files">
            <h3>Data files</h3>
            <p><button ng-click="Modals.openModal('uploadFile')">Upload file&hellip;</button></p>
            <table ng-if="dataFiles.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in dataFiles">
                        <td>
                            {{file.name}}
                            <div class="edit-menu drop-down">
                                <a class="drop-down__toggle"><span class="fa fa-caret-right"></span></a>
                                <div class="drop-down__container">
                                    <a class="drop-down__item" ng-click="configureTimestamp($index)">Configure timestamp</a>
                                    <a class="drop-down__item" href="{{file.download_url}}" target="_self">Download</a>
                                    <a class="drop-down__item" ng-click="rename('dataFiles', $index)">Rename</a>
                                    <a class="drop-down__item" ng-click="delete('dataFiles', $index)">Delete</a>
                                </div>
                            </div>
                            <span class="meta-tag" ng-if="file.format">{{file.format | uppercase}}</span>
                            <a class="meta-tag meta-tag--error" ng-if="!file.timestamp" ng-click="configureTimestamp($index)">Needs timestamp configuration</a>
                        </td>
                        <td>{{file.size | bytes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <modal class="modal--upload-file" modal-id="uploadFile">
            <div class="form__group" ng-if="!uploading">
                <label class="label--inline">Upload file</label>&nbsp;
                <file-upload file-upload-click="upload(files, onUpload)"></file-upload>
                &nbsp;<button ng-click="Modals.closeModal('uploadFile')">Cancel</button>
            </div>
            <div class="form__group" ng-if="uploading">
                <span class="spinner fa fa-circle-o-notch"></span> Uploading file&hellip;
            </div>
        </modal>
        <modal class="modal--file-timestamp" modal-id="configureTimestamp">
            <ng-include src="'configure-timestamp.tpl.html'" ng-controller="ConfigureTimestampCtrl"></ng-include>
        </modal>
        <div class="layout">
            <div class="data-maps">
                <h3>Data maps</h3>
                <p>
                    <form action="{{'projects/' + project.id + '/new-data-map'}}">
                        <button ng-disabled="!(dataFiles | hasTimestamp).length">Create new data map&hellip;</button>
                    </form>
                </p>
                <p class="help help--error" ng-if="!(dataFiles | hasTimestamp).length">Data file with timestamp configuration required.</p>
                <table ng-if="dataMaps.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataMap in dataMaps">
                            <td>
                                {{dataMap.name}}
                                <div class="edit-menu drop-down">
                                    <a class="drop-down__toggle"><span class="fa fa-caret-right"></span></a>
                                    <div class="drop-down__container">
                                        <a class="drop-down__item" href="projects/{{project.id}}/datamaps/{{dataMap.id}}">View</a>
                                        <a class="drop-down__item" ng-click="rename('dataMaps', $index)">Rename</a>
                                        <a class="drop-down__item" ng-click="delete('dataMaps', $index)">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="data-sets">
                <h3>Data sets</h3>
                <p>
                    <form action="{{'projects/' + project.id + '/new-data-set'}}">
                        <button ng-disabled="!dataMaps.length">Create new data set&hellip;</button>
                    </form>
                </p>
                <p class="help help--error" ng-if="!dataMaps.length">Data map required.</p>
                <table ng-if="dataSets.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Errors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataSet in dataSets">
                            <td>
                                <span ng-if="dataSet.status.status !== 'complete'">{{dataSet.name}}</span>
                                <a href="projects/{{project.id}}/datasets/{{dataSet.id}}" ng-if="dataSet.status.status === 'complete'">{{dataSet.name}}</a>
                                <div class="edit-menu drop-down">
                                    <a class="drop-down__toggle"><span class="fa fa-caret-right"></span></a>
                                    <div class="drop-down__container">
                                        <a class="drop-down__item" href="projects/{{project.id}}/datasets/{{dataSet.id}}" ng-if="dataSet.status.status === 'complete'">View</a>
                                        <a class="drop-down__item" href="projects/{{project.id}}/datasets/{{dataSet.id}}/manipulate" ng-if="dataSet.status.status === 'complete'">Manipulate</a>
                                        <a class="drop-down__item" href="{{dataSet.download_url}}?format=csv" target="_self">Download</a>
                                        <a class="drop-down__item" ng-click="rename('dataSets', $index)">Rename</a>
                                        <a class="drop-down__item" ng-click="delete('dataSets', $index)">Delete</a>
                                    </div>
                                </div>
                            </td>
                            <td>{{dataSet.status.status || 'Checking&hellip;' | capitalize}}</td>
                            <td ng-if="!dataSet.errors.length">None</td>
                            <td ng-if="dataSet.errors.length"><a ng-click="showErrors(dataSet)"><ng-pluralize count="dataSet.errors.length" when="{'one': '1 error', 'other': '{} errors'}"></ng-pluralize></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <modal class="modal--data-set-errors" modal-id="dataSetErrors">
                <h4>Errors</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Message</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="error in errorsModal.errors">
                            <td>{{error.message}}</td>
                            <td>{{errorsModal.files[error.file]}}: row {{error.row}}, column {{error.column}}</td>
                        </tr>
                    </tbody>
                </table>
                <button ng-click="Modals.closeModal('dataSetErrors')">Close</button>
            </modal>
            <modal class="modal--new-data-set" modal-id="newDataSet">
                <ng-include src="'new-data-set.tpl.html'" ng-controller="NewDataSetCtrl"></ng-include>
            </modal>
        </div>
        <div class="analyses">
            <h3>Analyses</h3>
            <p><button ng-click="Modals.openModal('newAnalysis')">Run analysis&hellip;</button></p>
            <table ng-if="analyses.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Added</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="analysis in analyses">
                        <td>
                            <span ng-if="analysis.status.slice(-8) !== 'complete'">{{analysis.name}}</span>
                            <a ng-if="analysis.status.slice(-8) === 'complete'" ng-click="viewAnalysis(analysis)">{{analysis.name}}</a>
                            <div class="edit-menu drop-down">
                                <a class="drop-down__toggle"><span class="fa fa-caret-right"></span></a>
                                <div class="drop-down__container">
                                    <a class="drop-down__item" ng-if="analysis.status.slice(-8) === 'complete'" ng-click="viewAnalysis(analysis)">View</a>
                                    <a class="drop-down__item" ng-if="analysis.status.slice(-8) === 'complete'" href="{{getAnalysisOutputUrl(analysis.id)}}" target="_self">Download output</a>
                                    <a class="drop-down__item" ng-if="analysis.status.slice(-8) === 'complete' && !(sharedAnalyses | filter:{analysis:analysis.id}).length" ng-click="shareAnalysis(analysis)">Share</a>
                                    <a class="drop-down__item" ng-if="(sharedAnalyses | filter:{analysis:analysis.id}).length" ng-click="revokeLink(analysis.id)">Revoke sharing</a>
                                    <a class="drop-down__item" ng-click="rename('analyses', $index)">Rename</a>
                                    <a class="drop-down__item" ng-if="analysis.status.slice(-8) === 'complete'" ng-click="delete('analyses', $index)">Delete</a>
                                </div>
                            </div>
                        </td>
                        <td>{{analysis.status | capitalize}}</td>
                        <td>{{analysis.added | date:'medium'}}</td>
                        <td>
                            <a ng-if="analysis.status.slice(-8) === 'complete' && !(sharedAnalyses | filter:{analysis:analysis.id}).length" ng-click="shareAnalysis(analysis)">Share</a>
                            <span ng-if="(sharedAnalyses | filter:{analysis:analysis.id}).length">
                                <a ng-click="viewLink(analysis.id)">Shared</a> (<a ng-click="revokeLink(analysis.id)">revoke</a>)
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <modal class="modal--new-analysis" modal-id="newAnalysis">
            <ng-include src="'new-analysis.tpl.html'" ng-controller="NewAnalysisCtrl"></ng-include>
        </modal>
        <modal class="modal--analysis" modal-id="viewAnalysis">
            <h4>{{viewingAnalysis.name}}</h4>
            <div class="form__group" ng-if="!viewingAnalysisData">
                <span class="spinner fa fa-circle-o-notch"></span>
                Loading analysis&hellip;
            </div>
            <analysis-report ng-repeat="report in viewingAnalysis.reports"
                ng-if="viewingAnalysisData"
                ar-report="report"
                ar-data="viewingAnalysisData">
            </analysis-report>
            <button ng-click="Modals.closeModal('viewAnalysis')">Close</button>
        </modal>
        <modal class="modal--view-link" modal-id="viewLink">
            <p><a href="{{viewingLink.url}}" target="_self">{{viewingLink.url}}</a></p>
            <button ng-click="revokeLink(viewingLink.sharedAnalysis.analysis)">Revoke</button> <button ng-click="Modals.closeModal('viewLink')">Close</button>
        </modal>
    </div>
</div>
