<div ng-if="container.deleted">
    <strong>{{container.level | capitalize}}: {{container.name}}</strong> deleted. (<a ng-click="container.deleted = false">undo</a>)
</div>
<div ng-if="!container.deleted">
    <h1>{{container.level | capitalize}}: {{container.name}} <button ng-click="container.deleted = true">Delete</button></h1>

    <div class="layout">
        <div class="layout__item" style="width:50%" ng-if="objectDefinition.attribute_list.length || container.attributes">
            <fieldset>
                <legend>Attributes</legend>
                <form class="form--stacked" ng-submit="addAttribute()" ng-if="objectDefinition.attribute_list.length">
                    <div class="form__group">
                        <label>New attribute</label>
                        <select required ng-options="attribute for attribute in objectDefinition.attribute_list" ng-model="newAttribute.name">
                            <option value="">-- Choose attribute --</option>
                        </select>
                    </div>
                    <div class="form__group" ng-if="newAttribute.name && definition.attributes[newAttribute.name].data_type === 'enum'">
                        <select required ng-options="value for value in definition.attributes[newAttribute.name].data_values" ng-model="newAttribute.value">
                            <option value="">--- Choose value---</option>
                        </select>
                    </div>
                    <div class="form__group" ng-if="newAttribute.name && !definition.attributes[newAttribute.name].data_type" ng-init="newAttribute.value = {}">
                        <label ng-repeat-start="(name, property) in definition.attributes[newAttribute.name]">{{name}}</label>
                        <input ng-model="newAttribute.value[name]"><br ng-repeat-end>
                    </div>
                    <button>Add</button>
                </form>
                <dl ng-if="container.attributes">
                    <dt ng-repeat-start="(attribute, value) in container.attributes">{{attribute}}</dt>
                    <dd ng-repeat-end><pre>{{value | json}}</pre></dd>
                </dl>
            </fieldset>
        </div>
        <div class="layout__item" style="width:50%" ng-if="objectDefinition.sensor_list.length || container.sensors">
            <fieldset>
                <legend>Sensors</legend>
                <form class="form--stacked" ng-submit="addSensor()" ng-if="objectDefinition.sensor_list.length">
                    <div class="form__group">
                        <label>New sensor</label>
                        <select required ng-options="sensor for sensor in objectDefinition.sensor_list" ng-model="newSensor.name">
                            <option value="">-- Choose sensor --</option>
                        </select>
                    </div>
                    <div class="form__group" ng-if="newSensor.name">
                        <label>Source</label>
                        <select required ng-model="newSensor.file" ng-options="file.file for file in files | hasTimestamp">
                            <option value="">-- Choose file --</option>
                        </select>
                        <select required ng-model="newSensor.column" ng-options="key as column for (key, column) in newSensor.file.columns">
                            <option value="">-- Choose column --</option>
                        </select>
                    </div>
                    <div class="form__group" ng-if="newSensor.name">
                        <label>Value unit</label>
                        <select required ng-model="newSensor.unit" ng-options="key as unit.value for (key, unit) in units[definition.sensors[newSensor.name].unit_type]">
                            <option value="">-- Choose unit  --</option>
                        </select>
                    </div>
                    <button>Add</button>
                </form>
                <dl ng-if="container.sensors">
                    <dt ng-repeat-start="sensor in container.sensors">{{sensor.name}}</dt>
                    <dd ng-repeat-end>{{sensor.file.file}} &rarr; {{sensor.file.columns[sensor.column]}}<span ng-if="sensor.unit">&nbsp;({{sensor.unit}})</span> (<a ng-click="deleteSensor($index)">delete</a>)</dd>
                </dl>
            </fieldset>
        </div>
    </div>

    <div class="form__group">
        Add under {{container.name}}:<span ng-repeat="child in objectDefinition.child_list">&nbsp;<button ng-click="addChild(child)">{{child}}</button></span>
    </div>

    <sensor-container ng-repeat="child in container.children" parent="container" container="child" files="files"></sensor-container>
</div>
