<h4>New data report</h4>

<div ng-if="!newDataReport.application">
    <div class="form__group">
        <label class="label--inline">Create data report with</label>&nbsp;
        <select ng-options="dataSet as ('Data set ' + dataSet.id) for dataSet in dataSets" ng-model="newDataReport.dataSet">
            <option value="">-- Choose data set --</option>
        </select>
    </div>

    <table class="table--app-list" ng-if="newDataReport.dataSet">
        <thead>
            <tr>
                <th>Application</th>
                <th>Configure</th>
                <th>Missing inputs</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="app in availableApps">
                <td>{{app.name}}</td>
                <td><button ng-disabled="app.missingInputs" ng-click="newDataReport.application = app">Configure</button></td>
                <td>
                    <ul class="missing-inputs" ng-if="app.missingInputs">
                        <li ng-repeat="missingInput in app.missingInputs">{{missingInput}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <button ng-click="Modals.closeModal('newDataReport')">Cancel</button>
</div>

<form class="form--stacked" ng-if="newDataReport.application" ng-submit="run()">
    <h5>Configure run of <em>{{newDataReport.application.name}}</em></h5>
    <div class="layout">
        <div class="layout__item" style="width: 50%">
            <fieldset>
                <legend>Parameters</legend>
                <div class="form__group" ng-repeat="(paramName, param) in newDataReport.application.parameters">
                    <label>{{param.display_name}}<span ng-if="param.optional">&nbsp;(optional)</label>
                    <input value="{{param.value_default}}"
                           type="text"
                           ng-if="param.config_type === 'str'"
                           ng-required="!param.optional"
                           ng-model="newDataReport.configuration.parameters[paramName]">
                    <input value="{{param.value_default}}"
                           type="number"
                           step="1"
                           ng-if="param.config_type === 'int'"
                           min="{{param.value_min}}"
                           max="{{param.value_max}}"
                           ng-required="!param.optional"
                           ng-model="newDataReport.configuration.parameters[paramName]">
                    <input value="{{param.value_default}}"
                           type="number"
                           step="0.01"
                           ng-if="param.config_type === 'float'"
                           min="{{param.value_min}}"
                           max="{{param.value_max}}"
                           ng-required="!param.optional"
                           ng-model="newDataReport.configuration.parameters[paramName]">
                </div>
            </fieldset>
        </div>
        <div class="layout__item" style="width: 50%">
            <fieldset>
                <legend>Inputs</legend>
                <div class="form__group" ng-repeat="(inputName, input) in newDataReport.application.inputs">
                    <label>{{input.display_name}} ({{input.sensor_type}})</label>
                    <select required
                            ng-if="input.count_min === 1 && input.count_max === 1"
                            ng-options="topic for topic in availableSensors[input.sensor_type]"
                            ng-model="newDataReport.configuration.inputs[inputName]">
                        <option value="">-- Choose sensor --</option>
                    </select>
                    <div ng-if="input.count_min !== 1 || input.count_min !== 1 || input.count_max !== 1">
                        <div ng-repeat="multiInput in newDataReport.configuration.inputs[inputName]" style="position: relative">
                            <select required
                                    ng-options="topic for topic in availableSensors[input.sensor_type]"
                                    ng-model="newDataReport.configuration.inputs[inputName][$index]">
                                <option value="">-- Choose sensor --</option>
                            </select>
                            <div class="app-input-delete"
                                 ng-if="newDataReport.configuration.inputs[inputName].length > input.count_min"
                                 ng-click="deleteInputSensor(inputName, $index)">
                                 &times;
                             </div>
                        </div>
                        <a ng-if="canAddSensor(inputName, input.sensor_type)" ng-click="addInputSensor(inputName)">+ Add sensor</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <button type="button" ng-click="newDataReport.application = null">Back</button> <button>Run</button> <button type="button" ng-click="Modals.closeModal('newDataReport')">Cancel</button>
</form>
