.body--modal-open {
    overflow: hidden;
}

modal {
    .modal__backdrop {
        min-width: 960px;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.2);
        z-index: 100;
        overflow: scroll;
        text-align: center;

        .modal__dialog {
            @extend %box;
            text-align: left;
            display: inline-block;
            margin: 100px 0;
            background-color: #fff;
            box-shadow: 0 0 11px rgba(0,0,0,0.5);
        }
    }
}
