.container,
%container {
    width: 960px;
    margin: auto;
}

.panel,
%panel {
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
}

.animated,
%animated {
    &.ng-animate {
        -webkit-transition: 0.1s ease-out all;
        transition: 0.1s ease-out all;
    }
    &.ng-enter, &.ng-leave.ng-leave-active { opacity: 0; }
    &.ng-leave, &.ng-enter.ng-enter-active { opacity: 1; }

    &--slow-out.ng-leave {
        -webkit-transition: 1s ease-out all;
        transition: 1s ease-out all;
    }
}

.alert,
%alert {
    @extend %box;
    @extend %box--small;
    @extend %panel;
    @extend %animated;

    &--success {
        background-color: #43AC6A;
        border-color: #3A945B;
        color: #FFF;
    }

    &--error {
        background-color: #F08A24;
        border-color: #DE770F;
        color: #FFF;
    }
}

.form--aligned,
%form--aligned {
    label:first-child,
    :not(input) + label {
        @extend %label--inline;
        margin-right: halve($inuit-base-spacing-unit);
        width: 8 * $inuit-base-spacing-unit;
        text-align: right;
    }

    input:not([type="checkbox"]) {
        @extend %input--inline;
        width: 16 * $inuit-base-spacing-unit;
    }

    .help {
        display: inline-block;
        margin-left: halve($inuit-base-spacing-unit);
    }

    br ~ * {
        margin-top: halve($inuit-base-spacing-unit);
    }

    .form__group > :not(label):first-child,
    br + :not(label) {
        margin-left: 8.5 * $inuit-base-spacing-unit;
    }
}

.form--stacked,
%form--stacked {
    label:first-child,
    :not(input) + label {
        @extend %label--block;
    }

    input:not([type="checkbox"]) {
        @extend %input--block;
    }

    select {
        @extend %select--block;
    }

    .help {
        display: block;
        width: 100%;
        line-height: 1.5 * $inuit-base-spacing-unit;
    }

    .form__group > br {
        display: none;
    }

    :not(label) + input:not([type="checkbox"]),
    :not(label) + select {
        margin-top: halve($inuit-base-spacing-unit);
    }
}

.form__group,
%form__group {
    margin: 0 0 $inuit-base-spacing-unit;
}

.label--block,
%label--block {
    display: block;
    width: 100%;
    line-height: 1.5 * $inuit-base-spacing-unit;
}

.label--inline,
%label--inline {
    display: inline-block;
    line-height: 2 * $inuit-base-spacing-unit;
}

.input--block,
%input--block {
    display: block;
    width: 100%;
}

.input--inline,
%input--inline,
.select--inline,
%select--inline {
    display: inline-block;
}

.input--block,
%input--block,
.select--block,
%select--block {
    display: block;
    width: 100%;
}

.help,
%help {
    @extend %animated;
    @include inuit-font-size(12px);

    &--error {
        color: $error-color;
    }
}

.drop-down,
%drop-down {
    position: relative;
    display: inline-block;
}

.drop-down__toggle,
%drop-down__toggle {
    display: block;
}

.drop-down__container,
%drop-down__container {
    position: absolute;
    display: none;
    z-index: 1;

    .drop-down:hover > &,
    %drop-down:hover > & {
        display: block;
    }
}

.drop-down__item,
%drop-down__item {
    display: block;
    white-space: nowrap;
}

.spinner {
    animation: fa-spin 1s infinite linear;
}
